@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-hover: #318eff;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container__caixa {
    margin: auto 3.375em;
    width: 75%;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1.375em 0 3.25em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 16px;
    font-size: 1rem;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
}

.container__botao:hover {
    background-color: var(--botao-azul-hover);
    color: var(--cor-de-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    margin: 1em 0 0.625em 0;
}

.container__aviso {
    font-size: .75;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin: 0 10.313em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
}

.descricao__texto {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .5em;
    color: var(--cinza-secundario);
}

.secundario__imagem {
    width: 70%;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__imagem {
    text-align: center;
}

.container__descricao {
    padding: 4.375em;
}

.dispositivos {
    height: 50vh;
    margin-top: 25%;
    margin-bottom: 9.063em;
}

.dispositivos__titulo {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5em;
}

.dispositivos__lista {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.lista-item {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.rodape__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.188em;
}

.rodape__imagem {
    width: 102px;
    margin-bottom: 2.544em;
}

.rodape__lista {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 1.5em;
}

.lista__item {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 1em;
}

.lista__item__link {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    font-size: 1rem;
    color: var(--branco-principal);
}

.lista__item__link:hover {
    color: var(--botao-azul);
}

.rodape__texto {
    text-align: center;
    color: var(--cinza-secundario);
}

.rodape__texto__segundo {
    margin: 2.5em 7.5em 5.626em 7.5em;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: none;
    }

    .container__imagem {
        width: 50vw;
        margin: 1em auto 5em auto;
    }

    .secundario {
        margin: auto;
        text-align: center;
    }

    .mobile {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .botao_secundario__mobile {
        padding: 0;
    }

    .container__descricao {
        padding: 3em;
    }

    .descricao__titulo {
        font-size: 2rem;
        margin-bottom: .5em;
    }

    .descricao__texto {
        font-size: .95rem;
    }

    .dispositivos {
        height: 100vh;
        margin-top: 25%;
        margin-bottom: 0;
    }

    .dispositivos__lista {
        display: block;
    }

    .dispositivos__titulo {
        font-size: 1.8rem;
        margin-bottom: .5em;
    }

    .lista-item {
        font-size: 1.2rem;
    }

    .lista-item-imagem {
        width: 50vw;
    }

    .rodape__lista {
        display: block;
        text-align: center;
    }

    .lista__item {
        font-size: 0.875rem;
        margin-bottom: 1em;
    }

    .lista__item__link:hover {
        color: var(--botao-azul);
    }

    .rodape__texto {
        text-align: center;
        margin: 0 2em 2em 2em;
    }
}